=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class AppRunlogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns archive information of the runlogs
    # Returns archive information of the runlogs
    # @param get_entities_request [AppRunlogListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [AppRunlogArchiveListResponse]
    def app_runlogs_archival_policy_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = app_runlogs_archival_policy_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Returns archive information of the runlogs
    # Returns archive information of the runlogs
    # @param get_entities_request [AppRunlogListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRunlogArchiveListResponse, Integer, Hash)>] AppRunlogArchiveListResponse data, response status code and response headers
    def app_runlogs_archival_policy_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppRunlogsApi.app_runlogs_archival_policy_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling AppRunlogsApi.app_runlogs_archival_policy_list_post"
      end
      # resource path
      local_var_path = '/app_runlogs/archival_policy/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AppRunlogArchiveListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AppRunlogsApi.app_runlogs_archival_policy_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppRunlogsApi#app_runlogs_archival_policy_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns archive information of the runlogs
    # Returns archive information of the runlogs
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [AppRunlogArchiveResponse]
    def app_runlogs_archival_policy_uuid_get(uuid, opts = {})
      data, _status_code, _headers = app_runlogs_archival_policy_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Returns archive information of the runlogs
    # Returns archive information of the runlogs
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRunlogArchiveResponse, Integer, Hash)>] AppRunlogArchiveResponse data, response status code and response headers
    def app_runlogs_archival_policy_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppRunlogsApi.app_runlogs_archival_policy_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AppRunlogsApi.app_runlogs_archival_policy_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling AppRunlogsApi.app_runlogs_archival_policy_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/app_runlogs/archival_policy/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRunlogArchiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AppRunlogsApi.app_runlogs_archival_policy_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppRunlogsApi#app_runlogs_archival_policy_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns archive containing script and output file for download
    # Returns archive containing script and output file for download
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def app_runlogs_archive_file_uuid_download_get(uuid, opts = {})
      data, _status_code, _headers = app_runlogs_archive_file_uuid_download_get_with_http_info(uuid, opts)
      data
    end

    # Returns archive containing script and output file for download
    # Returns archive containing script and output file for download
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def app_runlogs_archive_file_uuid_download_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppRunlogsApi.app_runlogs_archive_file_uuid_download_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AppRunlogsApi.app_runlogs_archive_file_uuid_download_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling AppRunlogsApi.app_runlogs_archive_file_uuid_download_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/app_runlogs/archive_file/{uuid}/download'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AppRunlogsApi.app_runlogs_archive_file_uuid_download_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppRunlogsApi#app_runlogs_archive_file_uuid_download_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
