=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class AwsVmsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List AWS VMs.
    # List VMs with associated metadata. Supported filters are: - account_uuid - region - power_state Use the account_uuid filter to get all the VMs on the default region of a particular account. Use account_uuid and region filters together to list all the VMs in a particular region. Set the power_state to running, stopped, and terminated. in the above two cases to list only VMs in the particular power state. 
    # @param get_entities_request [AwsVmListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [AwsVmListIntentResponse]
    def aws_vms_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = aws_vms_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # List AWS VMs.
    # List VMs with associated metadata. Supported filters are: - account_uuid - region - power_state Use the account_uuid filter to get all the VMs on the default region of a particular account. Use account_uuid and region filters together to list all the VMs in a particular region. Set the power_state to running, stopped, and terminated. in the above two cases to list only VMs in the particular power state. 
    # @param get_entities_request [AwsVmListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsVmListIntentResponse, Integer, Hash)>] AwsVmListIntentResponse data, response status code and response headers
    def aws_vms_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsVmsApi.aws_vms_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling AwsVmsApi.aws_vms_list_post"
      end
      # resource path
      local_var_path = '/aws/vms/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AwsVmListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsVmsApi.aws_vms_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsVmsApi#aws_vms_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an AWS instance(VM)
    # A VM is a logical representation of a computer (CPU, memory, storage, and operating system) 
    # @param body [AwsVmIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [AwsVmIntentResponse]
    def aws_vms_post(body, opts = {})
      data, _status_code, _headers = aws_vms_post_with_http_info(body, opts)
      data
    end

    # Create an AWS instance(VM)
    # A VM is a logical representation of a computer (CPU, memory, storage, and operating system) 
    # @param body [AwsVmIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsVmIntentResponse, Integer, Hash)>] AwsVmIntentResponse data, response status code and response headers
    def aws_vms_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsVmsApi.aws_vms_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AwsVmsApi.aws_vms_post"
      end
      # resource path
      local_var_path = '/aws/vms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AwsVmIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsVmsApi.aws_vms_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsVmsApi#aws_vms_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an AWS VM.
    # Delete an AWS VM given its uuid.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [AwsVmIntentResponse]
    def aws_vms_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = aws_vms_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete an AWS VM.
    # Delete an AWS VM given its uuid.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsVmIntentResponse, Integer, Hash)>] AwsVmIntentResponse data, response status code and response headers
    def aws_vms_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsVmsApi.aws_vms_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AwsVmsApi.aws_vms_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling AwsVmsApi.aws_vms_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/aws/vms/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AwsVmIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsVmsApi.aws_vms_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsVmsApi#aws_vms_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an AWS VM.
    # Given a UUID, returns an AWS VM definition.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [AwsVmIntentResponse]
    def aws_vms_uuid_get(uuid, opts = {})
      data, _status_code, _headers = aws_vms_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get an AWS VM.
    # Given a UUID, returns an AWS VM definition.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsVmIntentResponse, Integer, Hash)>] AwsVmIntentResponse data, response status code and response headers
    def aws_vms_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsVmsApi.aws_vms_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AwsVmsApi.aws_vms_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling AwsVmsApi.aws_vms_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/aws/vms/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AwsVmIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsVmsApi.aws_vms_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsVmsApi#aws_vms_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an AWS VM.
    # Given an intenful spec and VM uuid, update an AWS VM.
    # @param uuid [String] The UUID of the entity.
    # @param body [AwsVmIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [AwsVmIntentResponse]
    def aws_vms_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = aws_vms_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Update an AWS VM.
    # Given an intenful spec and VM uuid, update an AWS VM.
    # @param uuid [String] The UUID of the entity.
    # @param body [AwsVmIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsVmIntentResponse, Integer, Hash)>] AwsVmIntentResponse data, response status code and response headers
    def aws_vms_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsVmsApi.aws_vms_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AwsVmsApi.aws_vms_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling AwsVmsApi.aws_vms_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AwsVmsApi.aws_vms_uuid_put"
      end
      # resource path
      local_var_path = '/aws/vms/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AwsVmIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsVmsApi.aws_vms_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsVmsApi#aws_vms_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
