=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class AwsSecurityGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get an AWS security group
    # Get an AWS security group
    # @param account_uuid [String] 
    # @param region [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AwsSecurityGroupIntentResource]
    def aws_security_groups_account_uuid_region_id_get(account_uuid, region, id, opts = {})
      data, _status_code, _headers = aws_security_groups_account_uuid_region_id_get_with_http_info(account_uuid, region, id, opts)
      data
    end

    # Get an AWS security group
    # Get an AWS security group
    # @param account_uuid [String] 
    # @param region [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsSecurityGroupIntentResource, Integer, Hash)>] AwsSecurityGroupIntentResource data, response status code and response headers
    def aws_security_groups_account_uuid_region_id_get_with_http_info(account_uuid, region, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get ...'
      end
      # verify the required parameter 'account_uuid' is set
      if @api_client.config.client_side_validation && account_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'account_uuid' when calling AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && account_uuid !~ pattern
        fail ArgumentError, "invalid value for 'account_uuid' when calling AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'region' is set
      if @api_client.config.client_side_validation && region.nil?
        fail ArgumentError, "Missing the required parameter 'region' when calling AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get"
      end
      pattern = Regexp.new(/^[a-z]{2}-[a-z\-]*-[1-9]{1}$/)
      if @api_client.config.client_side_validation && region !~ pattern
        fail ArgumentError, "invalid value for 'region' when calling AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get"
      end
      pattern = Regexp.new(/^sg-[a-f0-9]{1,17}$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/aws/security_groups/{account_uuid}/{region}/{id}'.sub('{' + 'account_uuid' + '}', CGI.escape(account_uuid.to_s)).sub('{' + 'region' + '}', CGI.escape(region.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AwsSecurityGroupIntentResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsSecurityGroupsApi.aws_security_groups_account_uuid_region_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsSecurityGroupsApi#aws_security_groups_account_uuid_region_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all AWS Security Groups
    # List all AWS Security Groups. Supported filters are: - account_uuid - region - vpc_id - include_classic_sg Use account_uuid to list all security groups on the default region of a particular AWS account. Use account_uuid and region filters together to list all security groups in a particular region. Use account_uuid, region and vpc_id filters together to list all security groups in a particular vpc. Set include_classic_sg filter to 'True' to also show EC2 classic security groups in the above three cases. 
    # @param get_entities_request [AwsSecurityGroupListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [AwsSecurityGroupListIntentResponse]
    def aws_security_groups_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = aws_security_groups_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # List all AWS Security Groups
    # List all AWS Security Groups. Supported filters are: - account_uuid - region - vpc_id - include_classic_sg Use account_uuid to list all security groups on the default region of a particular AWS account. Use account_uuid and region filters together to list all security groups in a particular region. Use account_uuid, region and vpc_id filters together to list all security groups in a particular vpc. Set include_classic_sg filter to &#39;True&#39; to also show EC2 classic security groups in the above three cases. 
    # @param get_entities_request [AwsSecurityGroupListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AwsSecurityGroupListIntentResponse, Integer, Hash)>] AwsSecurityGroupListIntentResponse data, response status code and response headers
    def aws_security_groups_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AwsSecurityGroupsApi.aws_security_groups_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling AwsSecurityGroupsApi.aws_security_groups_list_post"
      end
      # resource path
      local_var_path = '/aws/security_groups/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AwsSecurityGroupListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AwsSecurityGroupsApi.aws_security_groups_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AwsSecurityGroupsApi#aws_security_groups_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
