=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class CloudTenantApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # list the cloud_tenants
    # List all cloud_tenants from PC.
    # @param get_entities_request [CloudTenantListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [CloudTenantListIntentResponse]
    def cloud_tenants_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = cloud_tenants_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # list the cloud_tenants
    # List all cloud_tenants from PC.
    # @param get_entities_request [CloudTenantListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTenantListIntentResponse, Integer, Hash)>] CloudTenantListIntentResponse data, response status code and response headers
    def cloud_tenants_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudTenantApi.cloud_tenants_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling CloudTenantApi.cloud_tenants_list_post"
      end
      # resource path
      local_var_path = '/cloud_tenants/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CloudTenantListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"CloudTenantApi.cloud_tenants_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTenantApi#cloud_tenants_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register cloud_tenant to PC.
    # On-boarding script uses this API to register new cloud_tenant in PC. It creates xi_cloud_tenant entity in IDF with cloud_tenant ID.
    # @param body [CloudTenantIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [CloudTenantIntentResponse]
    def cloud_tenants_post(body, opts = {})
      data, _status_code, _headers = cloud_tenants_post_with_http_info(body, opts)
      data
    end

    # Register cloud_tenant to PC.
    # On-boarding script uses this API to register new cloud_tenant in PC. It creates xi_cloud_tenant entity in IDF with cloud_tenant ID.
    # @param body [CloudTenantIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTenantIntentResponse, Integer, Hash)>] CloudTenantIntentResponse data, response status code and response headers
    def cloud_tenants_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudTenantApi.cloud_tenants_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudTenantApi.cloud_tenants_post"
      end
      # resource path
      local_var_path = '/cloud_tenants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CloudTenantIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"CloudTenantApi.cloud_tenants_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTenantApi#cloud_tenants_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete cloud_tenant
    # Deletes the cloud_tenant specific entities from PC eg; vms, categories
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [CloudTenantIntentResponse]
    def cloud_tenants_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = cloud_tenants_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete cloud_tenant
    # Deletes the cloud_tenant specific entities from PC eg; vms, categories
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTenantIntentResponse, Integer, Hash)>] CloudTenantIntentResponse data, response status code and response headers
    def cloud_tenants_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudTenantApi.cloud_tenants_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CloudTenantApi.cloud_tenants_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling CloudTenantApi.cloud_tenants_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/cloud_tenants/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CloudTenantIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"CloudTenantApi.cloud_tenants_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTenantApi#cloud_tenants_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get cloud_tenant details
    # Returns details about specific cloud_tenant.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [CloudTenantIntentResponse]
    def cloud_tenants_uuid_get(uuid, opts = {})
      data, _status_code, _headers = cloud_tenants_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get cloud_tenant details
    # Returns details about specific cloud_tenant.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTenantIntentResponse, Integer, Hash)>] CloudTenantIntentResponse data, response status code and response headers
    def cloud_tenants_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudTenantApi.cloud_tenants_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CloudTenantApi.cloud_tenants_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling CloudTenantApi.cloud_tenants_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/cloud_tenants/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CloudTenantIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"CloudTenantApi.cloud_tenants_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTenantApi#cloud_tenants_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update cloud_tenant details
    # Update cloud_tenant details, eg :for Suspending cloud_tenant, cloud_tenant status can be updated to \"SUSPENDED\"
    # @param uuid [String] The UUID of the entity.
    # @param body [CloudTenantIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [CloudTenantIntentResponse]
    def cloud_tenants_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = cloud_tenants_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Update cloud_tenant details
    # Update cloud_tenant details, eg :for Suspending cloud_tenant, cloud_tenant status can be updated to \&quot;SUSPENDED\&quot;
    # @param uuid [String] The UUID of the entity.
    # @param body [CloudTenantIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTenantIntentResponse, Integer, Hash)>] CloudTenantIntentResponse data, response status code and response headers
    def cloud_tenants_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudTenantApi.cloud_tenants_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CloudTenantApi.cloud_tenants_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling CloudTenantApi.cloud_tenants_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudTenantApi.cloud_tenants_uuid_put"
      end
      # resource path
      local_var_path = '/cloud_tenants/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CloudTenantIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"CloudTenantApi.cloud_tenants_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTenantApi#cloud_tenants_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
