=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class GcpInstancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get gcp vm
    # Given a UUID, returns a gcp vm
    # @param uuid [String] uuid of gcp instance
    # @param account_uuid [String] uuid of account
    # @param zone_name [String] zone name for gcp account
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get(uuid, account_uuid, zone_name, opts = {})
      data, _status_code, _headers = gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get_with_http_info(uuid, account_uuid, zone_name, opts)
      data
    end

    # Get gcp vm
    # Given a UUID, returns a gcp vm
    # @param uuid [String] uuid of gcp instance
    # @param account_uuid [String] uuid of account
    # @param zone_name [String] zone name for gcp account
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get_with_http_info(uuid, account_uuid, zone_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'account_uuid' is set
      if @api_client.config.client_side_validation && account_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'account_uuid' when calling GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && account_uuid !~ pattern
        fail ArgumentError, "invalid value for 'account_uuid' when calling GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'zone_name' is set
      if @api_client.config.client_side_validation && zone_name.nil?
        fail ArgumentError, "Missing the required parameter 'zone_name' when calling GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get"
      end
      # resource path
      local_var_path = '/gcp/v1/accounts/{account_uuid}/zone/{zone_name}/instances/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s)).sub('{' + 'account_uuid' + '}', CGI.escape(account_uuid.to_s)).sub('{' + 'zone_name' + '}', CGI.escape(zone_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"GcpInstancesApi.gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GcpInstancesApi#gcp_v1_accounts_account_uuid_zone_zone_name_instances_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Google cloud vm instances
    # List all VM's present in a zone. Supported filters are: - account_uuid - zone 
    # @param get_entities_request [GcpListMetadata] Request body
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def gcp_v1_instances_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = gcp_v1_instances_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Get Google cloud vm instances
    # List all VM&#39;s present in a zone. Supported filters are: - account_uuid - zone 
    # @param get_entities_request [GcpListMetadata] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def gcp_v1_instances_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GcpInstancesApi.gcp_v1_instances_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling GcpInstancesApi.gcp_v1_instances_list_post"
      end
      # resource path
      local_var_path = '/gcp/v1/instances/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"GcpInstancesApi.gcp_v1_instances_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GcpInstancesApi#gcp_v1_instances_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
