=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class MhVmApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Validates the feasibility of VM migration to given migration target. 
    # Validates the feasibility of VM migration to given migration target, if not feasible returns the reason behind it. 
    # @param uuid [String] The UUID of the entity.
    # @param body [VmValidateMigrationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<VmValidateMigrationOutputInner>]
    def mh_vms_uuid_validate_migration_post(uuid, body, opts = {})
      data, _status_code, _headers = mh_vms_uuid_validate_migration_post_with_http_info(uuid, body, opts)
      data
    end

    # Validates the feasibility of VM migration to given migration target. 
    # Validates the feasibility of VM migration to given migration target, if not feasible returns the reason behind it. 
    # @param uuid [String] The UUID of the entity.
    # @param body [VmValidateMigrationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VmValidateMigrationOutputInner>, Integer, Hash)>] Array<VmValidateMigrationOutputInner> data, response status code and response headers
    def mh_vms_uuid_validate_migration_post_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MhVmApi.mh_vms_uuid_validate_migration_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling MhVmApi.mh_vms_uuid_validate_migration_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling MhVmApi.mh_vms_uuid_validate_migration_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MhVmApi.mh_vms_uuid_validate_migration_post"
      end
      # resource path
      local_var_path = '/mh_vms/{uuid}/validate_migration'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VmValidateMigrationOutputInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MhVmApi.mh_vms_uuid_validate_migration_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MhVmApi#mh_vms_uuid_validate_migration_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
