=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class PrismCentralApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Enables CMSP on Prism Central.
    # Enables CMSP on Prism Central using all passed fields. 
    # @param body [CmspConfigEnablement] 
    # @param [Hash] opts the optional parameters
    # @return [PrismCentralEnableCmspStatus]
    def prism_central_cmsp_configure_post(body, opts = {})
      data, _status_code, _headers = prism_central_cmsp_configure_post_with_http_info(body, opts)
      data
    end

    # Enables CMSP on Prism Central.
    # Enables CMSP on Prism Central using all passed fields. 
    # @param body [CmspConfigEnablement] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrismCentralEnableCmspStatus, Integer, Hash)>] PrismCentralEnableCmspStatus data, response status code and response headers
    def prism_central_cmsp_configure_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrismCentralApi.prism_central_cmsp_configure_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PrismCentralApi.prism_central_cmsp_configure_post"
      end
      # resource path
      local_var_path = '/prism_central/cmsp/configure'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PrismCentralEnableCmspStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"PrismCentralApi.prism_central_cmsp_configure_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrismCentralApi#prism_central_cmsp_configure_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a existing Prism Central
    # This operation gets a existing Prism Central.
    # @param [Hash] opts the optional parameters
    # @return [PrismCentral]
    def prism_central_get(opts = {})
      data, _status_code, _headers = prism_central_get_with_http_info(opts)
      data
    end

    # Get a existing Prism Central
    # This operation gets a existing Prism Central.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrismCentral, Integer, Hash)>] PrismCentral data, response status code and response headers
    def prism_central_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrismCentralApi.prism_central_get ...'
      end
      # resource path
      local_var_path = '/prism_central'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrismCentral'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"PrismCentralApi.prism_central_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrismCentralApi#prism_central_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a new prism central VM to Prism Central cluster.
    # Given an intentful spec, add a new prism central vm to the cluster . 
    # @param body [PrismCentralNodes] 
    # @param [Hash] opts the optional parameters
    # @return [PrismCentralRequestStatus]
    def prism_central_nodes_post(body, opts = {})
      data, _status_code, _headers = prism_central_nodes_post_with_http_info(body, opts)
      data
    end

    # Add a new prism central VM to Prism Central cluster.
    # Given an intentful spec, add a new prism central vm to the cluster . 
    # @param body [PrismCentralNodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrismCentralRequestStatus, Integer, Hash)>] PrismCentralRequestStatus data, response status code and response headers
    def prism_central_nodes_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrismCentralApi.prism_central_nodes_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PrismCentralApi.prism_central_nodes_post"
      end
      # resource path
      local_var_path = '/prism_central/nodes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PrismCentralRequestStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"PrismCentralApi.prism_central_nodes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrismCentralApi#prism_central_nodes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
