=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class ProtectionRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get protection rules
    # Get protection rules
    # @param get_entities_request [ProtectionRuleListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [ProtectionRuleListIntentResponse]
    def protection_rules_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = protection_rules_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Get protection rules
    # Get protection rules
    # @param get_entities_request [ProtectionRuleListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProtectionRuleListIntentResponse, Integer, Hash)>] ProtectionRuleListIntentResponse data, response status code and response headers
    def protection_rules_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling ProtectionRulesApi.protection_rules_list_post"
      end
      # resource path
      local_var_path = '/protection_rules/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProtectionRuleListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a protection rule
    # Create a protection rule
    # @param body [ProtectionRuleIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [ProtectionRuleIntentResponse]
    def protection_rules_post(body, opts = {})
      data, _status_code, _headers = protection_rules_post_with_http_info(body, opts)
      data
    end

    # Create a protection rule
    # Create a protection rule
    # @param body [ProtectionRuleIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProtectionRuleIntentResponse, Integer, Hash)>] ProtectionRuleIntentResponse data, response status code and response headers
    def protection_rules_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProtectionRulesApi.protection_rules_post"
      end
      # resource path
      local_var_path = '/protection_rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProtectionRuleIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of entities along with their protection status.
    # This API fetches what could be the protection status of the entity given a set of parameters. The entities to return are based on the category name and value pair which is passed as an input to the API. The recovery point objective values and some other parameters passed, also as query params, help to determine if there are any errors associated with it which are returned in the response. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :categories Category name, value separated by &#39;:&#39;. Example: &#39;dept:eng&#39;. 
    # @option opts [Array<Integer>] :recovery_point_objective_seconds Recovery Point Objective (RPO) in seconds. This will be used to determine if the VM can be protected with the given RPO values. 
    # @option opts [Boolean] :has_intra_pc_dr_config Whether the Protection Rule has the intra PC DR policy configured. 
    # @option opts [Array<String>] :cluster_uuid_list List of PE cluster UUIDs for which the entities that belong to them are either fetched or ignored based on the value set for the should_exclude_cluster_uuid_list parameter. If no value is given then all the PE cluster UUIDs are looked at. 
    # @option opts [Boolean] :should_exclude_cluster_uuid_list Controls whether the cluster_uuid_list is an inclusion list or an exclusion list. If set to False, then the only the entities that are present on the clusters from the cluster_uuid_list are fetched. If set to True, then only the entities that are present on the clusters other than the ones from the cluster_uuid_list are fetched.  (default to false)
    # @option opts [String] :protection_rule_uuid Protection rule UUID for which the query is being invoked. If protection rule isn&#39;t created yet then this field will be empty. 
    # @option opts [String] :protection_status_filter Filter value which dictates whether to show all entities, irrespective of their protection status, or entities for which there is protection failure, i.e., aren&#39;t protected at all.  (default to 'ALL')
    # @option opts [String] :entity_type The entity type to be queried. Set to VM by default.  (default to 'VM')
    # @option opts [Integer] :offset Offset from the start of the entity list.
    # @option opts [Integer] :length The number of records to retrieve relative to the offset.
    # @return [QueryEntitiesResponse]
    def protection_rules_query_entities_get(opts = {})
      data, _status_code, _headers = protection_rules_query_entities_get_with_http_info(opts)
      data
    end

    # Get a list of entities along with their protection status.
    # This API fetches what could be the protection status of the entity given a set of parameters. The entities to return are based on the category name and value pair which is passed as an input to the API. The recovery point objective values and some other parameters passed, also as query params, help to determine if there are any errors associated with it which are returned in the response. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :categories Category name, value separated by &#39;:&#39;. Example: &#39;dept:eng&#39;. 
    # @option opts [Array<Integer>] :recovery_point_objective_seconds Recovery Point Objective (RPO) in seconds. This will be used to determine if the VM can be protected with the given RPO values. 
    # @option opts [Boolean] :has_intra_pc_dr_config Whether the Protection Rule has the intra PC DR policy configured. 
    # @option opts [Array<String>] :cluster_uuid_list List of PE cluster UUIDs for which the entities that belong to them are either fetched or ignored based on the value set for the should_exclude_cluster_uuid_list parameter. If no value is given then all the PE cluster UUIDs are looked at. 
    # @option opts [Boolean] :should_exclude_cluster_uuid_list Controls whether the cluster_uuid_list is an inclusion list or an exclusion list. If set to False, then the only the entities that are present on the clusters from the cluster_uuid_list are fetched. If set to True, then only the entities that are present on the clusters other than the ones from the cluster_uuid_list are fetched.  (default to false)
    # @option opts [String] :protection_rule_uuid Protection rule UUID for which the query is being invoked. If protection rule isn&#39;t created yet then this field will be empty. 
    # @option opts [String] :protection_status_filter Filter value which dictates whether to show all entities, irrespective of their protection status, or entities for which there is protection failure, i.e., aren&#39;t protected at all.  (default to 'ALL')
    # @option opts [String] :entity_type The entity type to be queried. Set to VM by default.  (default to 'VM')
    # @option opts [Integer] :offset Offset from the start of the entity list.
    # @option opts [Integer] :length The number of records to retrieve relative to the offset.
    # @return [Array<(QueryEntitiesResponse, Integer, Hash)>] QueryEntitiesResponse data, response status code and response headers
    def protection_rules_query_entities_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_query_entities_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ProtectionRulesApi.protection_rules_query_entities_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'length'].nil? && opts[:'length'] < 1
        fail ArgumentError, 'invalid value for "opts[:"length"]" when calling ProtectionRulesApi.protection_rules_query_entities_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/protection_rules/query_entities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'categories'] = opts[:'categories'] if !opts[:'categories'].nil?
      query_params[:'recovery_point_objective_seconds'] = @api_client.build_collection_param(opts[:'recovery_point_objective_seconds'], :csv) if !opts[:'recovery_point_objective_seconds'].nil?
      query_params[:'has_intra_pc_dr_config'] = opts[:'has_intra_pc_dr_config'] if !opts[:'has_intra_pc_dr_config'].nil?
      query_params[:'cluster_uuid_list'] = @api_client.build_collection_param(opts[:'cluster_uuid_list'], :csv) if !opts[:'cluster_uuid_list'].nil?
      query_params[:'should_exclude_cluster_uuid_list'] = opts[:'should_exclude_cluster_uuid_list'] if !opts[:'should_exclude_cluster_uuid_list'].nil?
      query_params[:'protection_rule_uuid'] = opts[:'protection_rule_uuid'] if !opts[:'protection_rule_uuid'].nil?
      query_params[:'protection_status_filter'] = opts[:'protection_status_filter'] if !opts[:'protection_status_filter'].nil?
      query_params[:'entity_type'] = opts[:'entity_type'] if !opts[:'entity_type'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'length'] = opts[:'length'] if !opts[:'length'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QueryEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_query_entities_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_query_entities_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a protection rule
    # Delete a protection rule
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [ProtectionRuleIntentResponse]
    def protection_rules_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = protection_rules_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete a protection rule
    # Delete a protection rule
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProtectionRuleIntentResponse, Integer, Hash)>] ProtectionRuleIntentResponse data, response status code and response headers
    def protection_rules_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/protection_rules/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProtectionRuleIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details for a protection rule
    # Get details for a protection rule
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [ProtectionRuleIntentResponse]
    def protection_rules_uuid_get(uuid, opts = {})
      data, _status_code, _headers = protection_rules_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get details for a protection rule
    # Get details for a protection rule
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProtectionRuleIntentResponse, Integer, Hash)>] ProtectionRuleIntentResponse data, response status code and response headers
    def protection_rules_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/protection_rules/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProtectionRuleIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process a protection rule
    # It will be used whenever user wants to process a protection rule immediately. For example if an entity is protected by a protection rule, user can call this API to trigger protection rule processing. This API doesn't wait for the processing to be completed. The API triggers the protection rule processing and returns. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [ProtectionRuleStatus]
    def protection_rules_uuid_process_post(uuid, opts = {})
      data, _status_code, _headers = protection_rules_uuid_process_post_with_http_info(uuid, opts)
      data
    end

    # Process a protection rule
    # It will be used whenever user wants to process a protection rule immediately. For example if an entity is protected by a protection rule, user can call this API to trigger protection rule processing. This API doesn&#39;t wait for the processing to be completed. The API triggers the protection rule processing and returns. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProtectionRuleStatus, Integer, Hash)>] ProtectionRuleStatus data, response status code and response headers
    def protection_rules_uuid_process_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_uuid_process_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_process_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_process_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/protection_rules/{uuid}/process'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProtectionRuleStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_uuid_process_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_uuid_process_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modify protection rule
    # Modify protection rule
    # @param uuid [String] The UUID of the entity.
    # @param body [ProtectionRuleIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [ProtectionRuleIntentResponse]
    def protection_rules_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = protection_rules_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Modify protection rule
    # Modify protection rule
    # @param uuid [String] The UUID of the entity.
    # @param body [ProtectionRuleIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProtectionRuleIntentResponse, Integer, Hash)>] ProtectionRuleIntentResponse data, response status code and response headers
    def protection_rules_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProtectionRulesApi.protection_rules_uuid_put"
      end
      # resource path
      local_var_path = '/protection_rules/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProtectionRuleIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of entities affected by a protection rule
    # Get a list of entities affected by a protection rule based on the filters provided in the protection rule definition. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [AffectedEntityList]
    def protection_rules_uuid_query_entities_get(uuid, opts = {})
      data, _status_code, _headers = protection_rules_uuid_query_entities_get_with_http_info(uuid, opts)
      data
    end

    # Get a list of entities affected by a protection rule
    # Get a list of entities affected by a protection rule based on the filters provided in the protection rule definition. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AffectedEntityList, Integer, Hash)>] AffectedEntityList data, response status code and response headers
    def protection_rules_uuid_query_entities_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProtectionRulesApi.protection_rules_uuid_query_entities_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_query_entities_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling ProtectionRulesApi.protection_rules_uuid_query_entities_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/protection_rules/{uuid}/query_entities'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AffectedEntityList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProtectionRulesApi.protection_rules_uuid_query_entities_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProtectionRulesApi#protection_rules_uuid_query_entities_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
