=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class RecoveryPlanJobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the Recovery Plan Jobs
    # List the Recovery Plan Jobs
    # @param get_entities_request [RecoveryPlanJobListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [RecoveryPlanJobListIntentResponse]
    def recovery_plan_jobs_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = recovery_plan_jobs_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # List the Recovery Plan Jobs
    # List the Recovery Plan Jobs
    # @param get_entities_request [RecoveryPlanJobListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecoveryPlanJobListIntentResponse, Integer, Hash)>] RecoveryPlanJobListIntentResponse data, response status code and response headers
    def recovery_plan_jobs_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecoveryPlanJobsApi.recovery_plan_jobs_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling RecoveryPlanJobsApi.recovery_plan_jobs_list_post"
      end
      # resource path
      local_var_path = '/recovery_plan_jobs/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryPlanJobListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RecoveryPlanJobsApi.recovery_plan_jobs_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecoveryPlanJobsApi#recovery_plan_jobs_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Recovery Plan Job
    # Create a Recovery Plan Job for a Recovery Plan with associated metadata 
    # @param body [RecoveryPlanJobIntentInput] Request body
    # @param [Hash] opts the optional parameters
    # @return [RecoveryPlanJobResponse]
    def recovery_plan_jobs_post(body, opts = {})
      data, _status_code, _headers = recovery_plan_jobs_post_with_http_info(body, opts)
      data
    end

    # Create Recovery Plan Job
    # Create a Recovery Plan Job for a Recovery Plan with associated metadata 
    # @param body [RecoveryPlanJobIntentInput] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecoveryPlanJobResponse, Integer, Hash)>] RecoveryPlanJobResponse data, response status code and response headers
    def recovery_plan_jobs_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecoveryPlanJobsApi.recovery_plan_jobs_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RecoveryPlanJobsApi.recovery_plan_jobs_post"
      end
      # resource path
      local_var_path = '/recovery_plan_jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryPlanJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RecoveryPlanJobsApi.recovery_plan_jobs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecoveryPlanJobsApi#recovery_plan_jobs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform an action on Recovery Plan Job
    # Perform an action on Recovery Plan Job
    # @param uuid [String] The UUID of the entity.
    # @param action [String] Action to be performed on the Recovery Plan Job. Only Following actions are supported, cleanup - Delete entities recovered in the last Test-Failover   operation. rerun - Retriggers the Recovery Plan execution from its last   state. This action is only supported for Migrate, Failover, and   Test-Failover operations. 
    # @param body [RecoveryPlanJobActionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [RecoveryPlanJobResponse]
    def recovery_plan_jobs_uuid_action_post(uuid, action, body, opts = {})
      data, _status_code, _headers = recovery_plan_jobs_uuid_action_post_with_http_info(uuid, action, body, opts)
      data
    end

    # Perform an action on Recovery Plan Job
    # Perform an action on Recovery Plan Job
    # @param uuid [String] The UUID of the entity.
    # @param action [String] Action to be performed on the Recovery Plan Job. Only Following actions are supported, cleanup - Delete entities recovered in the last Test-Failover   operation. rerun - Retriggers the Recovery Plan execution from its last   state. This action is only supported for Migrate, Failover, and   Test-Failover operations. 
    # @param body [RecoveryPlanJobActionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecoveryPlanJobResponse, Integer, Hash)>] RecoveryPlanJobResponse data, response status code and response headers
    def recovery_plan_jobs_uuid_action_post_with_http_info(uuid, action, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecoveryPlanJobsApi.recovery_plan_jobs_uuid_action_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_action_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_action_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_action_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_action_post"
      end
      # resource path
      local_var_path = '/recovery_plan_jobs/{uuid}/{action}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s)).sub('{' + 'action' + '}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryPlanJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RecoveryPlanJobsApi.recovery_plan_jobs_uuid_action_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecoveryPlanJobsApi#recovery_plan_jobs_uuid_action_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Recovery Plan Job
    # Delete a Recovery Plan Job given its UUID
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [RecoveryPlanJobResponse]
    def recovery_plan_jobs_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = recovery_plan_jobs_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete Recovery Plan Job
    # Delete a Recovery Plan Job given its UUID
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecoveryPlanJobResponse, Integer, Hash)>] RecoveryPlanJobResponse data, response status code and response headers
    def recovery_plan_jobs_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecoveryPlanJobsApi.recovery_plan_jobs_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/recovery_plan_jobs/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryPlanJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RecoveryPlanJobsApi.recovery_plan_jobs_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecoveryPlanJobsApi#recovery_plan_jobs_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recovery Plan Job
    # Given a UUID, returns a Recovery Plan Job state
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [RecoveryPlanJobIntentResponse]
    def recovery_plan_jobs_uuid_get(uuid, opts = {})
      data, _status_code, _headers = recovery_plan_jobs_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get Recovery Plan Job
    # Given a UUID, returns a Recovery Plan Job state
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecoveryPlanJobIntentResponse, Integer, Hash)>] RecoveryPlanJobIntentResponse data, response status code and response headers
    def recovery_plan_jobs_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecoveryPlanJobsApi.recovery_plan_jobs_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/recovery_plan_jobs/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryPlanJobIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RecoveryPlanJobsApi.recovery_plan_jobs_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecoveryPlanJobsApi#recovery_plan_jobs_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the execution status of the Recovery Plan Job
    # Get the execution status of the Recovery Plan Job
    # @param uuid [String] The UUID of the entity.
    # @param status [String] Type of the Recovery Plan Job status
    # @param [Hash] opts the optional parameters
    # @return [RecoveryPlanJobExecutionStatus]
    def recovery_plan_jobs_uuid_status_get(uuid, status, opts = {})
      data, _status_code, _headers = recovery_plan_jobs_uuid_status_get_with_http_info(uuid, status, opts)
      data
    end

    # Get the execution status of the Recovery Plan Job
    # Get the execution status of the Recovery Plan Job
    # @param uuid [String] The UUID of the entity.
    # @param status [String] Type of the Recovery Plan Job status
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecoveryPlanJobExecutionStatus, Integer, Hash)>] RecoveryPlanJobExecutionStatus data, response status code and response headers
    def recovery_plan_jobs_uuid_status_get_with_http_info(uuid, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecoveryPlanJobsApi.recovery_plan_jobs_uuid_status_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_status_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_status_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling RecoveryPlanJobsApi.recovery_plan_jobs_uuid_status_get"
      end
      # resource path
      local_var_path = '/recovery_plan_jobs/{uuid}/{status}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s)).sub('{' + 'status' + '}', CGI.escape(status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryPlanJobExecutionStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RecoveryPlanJobsApi.recovery_plan_jobs_uuid_status_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecoveryPlanJobsApi#recovery_plan_jobs_uuid_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
