=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class RoutingPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a list of existing routing_policies
    # This operation gets a list of routing_policies, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [RoutingPolicyListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyListIntentResponse]
    def routing_policies_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = routing_policies_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Get a list of existing routing_policies
    # This operation gets a list of routing_policies, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [RoutingPolicyListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyListIntentResponse, Integer, Hash)>] RoutingPolicyListIntentResponse data, response status code and response headers
    def routing_policies_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.routing_policies_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling RoutingPoliciesApi.routing_policies_list_post"
      end
      # resource path
      local_var_path = '/routing_policies/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.routing_policies_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#routing_policies_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new routing_policy
    # This operation submits a request to create a new routing_policy based on the input parameters. A routing policy that defines traffic behavior. 
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def routing_policies_post(body, opts = {})
      data, _status_code, _headers = routing_policies_post_with_http_info(body, opts)
      data
    end

    # Create a new routing_policy
    # This operation submits a request to create a new routing_policy based on the input parameters. A routing policy that defines traffic behavior. 
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def routing_policies_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.routing_policies_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RoutingPoliciesApi.routing_policies_post"
      end
      # resource path
      local_var_path = '/routing_policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.routing_policies_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#routing_policies_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a existing routing_policy
    # This operation submits a request to delete a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def routing_policies_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = routing_policies_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete a existing routing_policy
    # This operation submits a request to delete a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def routing_policies_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.routing_policies_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/routing_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.routing_policies_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#routing_policies_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a existing routing_policy
    # This operation gets a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def routing_policies_uuid_get(uuid, opts = {})
      data, _status_code, _headers = routing_policies_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get a existing routing_policy
    # This operation gets a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def routing_policies_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.routing_policies_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/routing_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.routing_policies_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#routing_policies_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a existing routing_policy
    # This operation submits a request to update a existing routing_policy based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def routing_policies_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = routing_policies_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Update a existing routing_policy
    # This operation submits a request to update a existing routing_policy based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def routing_policies_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.routing_policies_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RoutingPoliciesApi.routing_policies_uuid_put"
      end
      # resource path
      local_var_path = '/routing_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.routing_policies_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#routing_policies_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear routing policy counters.
    # This operation clears the counter values for a particular routing policy. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def routing_policies_uuid_reset_counters_post(uuid, opts = {})
      routing_policies_uuid_reset_counters_post_with_http_info(uuid, opts)
      nil
    end

    # Clear routing policy counters.
    # This operation clears the counter values for a particular routing policy. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def routing_policies_uuid_reset_counters_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.routing_policies_uuid_reset_counters_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_reset_counters_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.routing_policies_uuid_reset_counters_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/routing_policies/{uuid}/reset_counters'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.routing_policies_uuid_reset_counters_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#routing_policies_uuid_reset_counters_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of existing routing_policies
    # This operation gets a list of routing_policies, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [RoutingPolicyListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyListIntentResponse]
    def virtual_networks_routing_policies_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = virtual_networks_routing_policies_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Get a list of existing routing_policies
    # This operation gets a list of routing_policies, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [RoutingPolicyListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyListIntentResponse, Integer, Hash)>] RoutingPolicyListIntentResponse data, response status code and response headers
    def virtual_networks_routing_policies_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_routing_policies_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling RoutingPoliciesApi.virtual_networks_routing_policies_list_post"
      end
      # resource path
      local_var_path = '/virtual_networks/routing_policies/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_routing_policies_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_routing_policies_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new routing_policy
    # This operation submits a request to create a new routing_policy based on the input parameters. A routing policy that defines traffic behavior. 
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def virtual_networks_routing_policies_post(body, opts = {})
      data, _status_code, _headers = virtual_networks_routing_policies_post_with_http_info(body, opts)
      data
    end

    # Create a new routing_policy
    # This operation submits a request to create a new routing_policy based on the input parameters. A routing policy that defines traffic behavior. 
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def virtual_networks_routing_policies_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_routing_policies_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RoutingPoliciesApi.virtual_networks_routing_policies_post"
      end
      # resource path
      local_var_path = '/virtual_networks/routing_policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_routing_policies_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_routing_policies_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a existing routing_policy
    # This operation submits a request to delete a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def virtual_networks_routing_policies_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = virtual_networks_routing_policies_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete a existing routing_policy
    # This operation submits a request to delete a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def virtual_networks_routing_policies_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_routing_policies_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/virtual_networks/routing_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_routing_policies_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_routing_policies_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a existing routing_policy
    # This operation gets a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def virtual_networks_routing_policies_uuid_get(uuid, opts = {})
      data, _status_code, _headers = virtual_networks_routing_policies_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get a existing routing_policy
    # This operation gets a existing routing_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def virtual_networks_routing_policies_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_routing_policies_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/virtual_networks/routing_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_routing_policies_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_routing_policies_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a existing routing_policy
    # This operation submits a request to update a existing routing_policy based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPolicyIntentResponse]
    def virtual_networks_routing_policies_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = virtual_networks_routing_policies_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Update a existing routing_policy
    # This operation submits a request to update a existing routing_policy based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [RoutingPolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPolicyIntentResponse, Integer, Hash)>] RoutingPolicyIntentResponse data, response status code and response headers
    def virtual_networks_routing_policies_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_routing_policies_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_put"
      end
      # resource path
      local_var_path = '/virtual_networks/routing_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingPolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_routing_policies_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_routing_policies_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear routing policy counters.
    # This operation clears the counter values for a particular routing policy. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_networks_routing_policies_uuid_reset_counters_post(uuid, opts = {})
      virtual_networks_routing_policies_uuid_reset_counters_post_with_http_info(uuid, opts)
      nil
    end

    # Clear routing policy counters.
    # This operation clears the counter values for a particular routing policy. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_networks_routing_policies_uuid_reset_counters_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_routing_policies_uuid_reset_counters_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_reset_counters_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.virtual_networks_routing_policies_uuid_reset_counters_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/virtual_networks/routing_policies/{uuid}/reset_counters'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_routing_policies_uuid_reset_counters_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_routing_policies_uuid_reset_counters_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear all routing policy counters.
    # This operation clears the counter values for all routing policies in the virtual network. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_networks_uuid_routing_policies_reset_counters_post(uuid, opts = {})
      virtual_networks_uuid_routing_policies_reset_counters_post_with_http_info(uuid, opts)
      nil
    end

    # Clear all routing policy counters.
    # This operation clears the counter values for all routing policies in the virtual network. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_networks_uuid_routing_policies_reset_counters_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.virtual_networks_uuid_routing_policies_reset_counters_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.virtual_networks_uuid_routing_policies_reset_counters_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.virtual_networks_uuid_routing_policies_reset_counters_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/virtual_networks/{uuid}/routing_policies/reset_counters'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.virtual_networks_uuid_routing_policies_reset_counters_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#virtual_networks_uuid_routing_policies_reset_counters_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear all routing policy counters.
    # This operation clears the counter values for all routing policies in the VPC. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vpcs_uuid_routing_policies_reset_counters_post(uuid, opts = {})
      vpcs_uuid_routing_policies_reset_counters_post_with_http_info(uuid, opts)
      nil
    end

    # Clear all routing policy counters.
    # This operation clears the counter values for all routing policies in the VPC. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vpcs_uuid_routing_policies_reset_counters_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPoliciesApi.vpcs_uuid_routing_policies_reset_counters_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RoutingPoliciesApi.vpcs_uuid_routing_policies_reset_counters_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling RoutingPoliciesApi.vpcs_uuid_routing_policies_reset_counters_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vpcs/{uuid}/routing_policies/reset_counters'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"RoutingPoliciesApi.vpcs_uuid_routing_policies_reset_counters_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPoliciesApi#vpcs_uuid_routing_policies_reset_counters_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
