=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class SecurityMonitoringApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Query API in Security Monitoring.
    # Query API to execute various queries and retrieve results in Security Monitoring. 
    # @param body [QueryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [QueryResponse]
    def security_monitoring_query_post(body, opts = {})
      data, _status_code, _headers = security_monitoring_query_post_with_http_info(body, opts)
      data
    end

    # Query API in Security Monitoring.
    # Query API to execute various queries and retrieve results in Security Monitoring. 
    # @param body [QueryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueryResponse, Integer, Hash)>] QueryResponse data, response status code and response headers
    def security_monitoring_query_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityMonitoringApi.security_monitoring_query_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SecurityMonitoringApi.security_monitoring_query_post"
      end
      # resource path
      local_var_path = '/security_monitoring/query'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'QueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SecurityMonitoringApi.security_monitoring_query_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityMonitoringApi#security_monitoring_query_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Topology details
    # Topology details for visualisation in Security Monitoring
    # @param body [TopologyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TopologyResponse]
    def security_monitoring_topology_post(body, opts = {})
      data, _status_code, _headers = security_monitoring_topology_post_with_http_info(body, opts)
      data
    end

    # Topology details
    # Topology details for visualisation in Security Monitoring
    # @param body [TopologyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TopologyResponse, Integer, Hash)>] TopologyResponse data, response status code and response headers
    def security_monitoring_topology_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityMonitoringApi.security_monitoring_topology_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SecurityMonitoringApi.security_monitoring_topology_post"
      end
      # resource path
      local_var_path = '/security_monitoring/topology'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'TopologyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SecurityMonitoringApi.security_monitoring_topology_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityMonitoringApi#security_monitoring_topology_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
