=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class StoragePoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get effective storage configuration on an entity
    # Get effective storage configuration on an entity 
    # @param entity_type [String] The entity type.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [GetInfo]
    def storage_policies_get_info_entity_type_uuid_get(entity_type, uuid, opts = {})
      data, _status_code, _headers = storage_policies_get_info_entity_type_uuid_get_with_http_info(entity_type, uuid, opts)
      data
    end

    # Get effective storage configuration on an entity
    # Get effective storage configuration on an entity 
    # @param entity_type [String] The entity type.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInfo, Integer, Hash)>] GetInfo data, response status code and response headers
    def storage_policies_get_info_entity_type_uuid_get_with_http_info(entity_type, uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_get_info_entity_type_uuid_get ...'
      end
      # verify the required parameter 'entity_type' is set
      if @api_client.config.client_side_validation && entity_type.nil?
        fail ArgumentError, "Missing the required parameter 'entity_type' when calling StoragePoliciesApi.storage_policies_get_info_entity_type_uuid_get"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling StoragePoliciesApi.storage_policies_get_info_entity_type_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling StoragePoliciesApi.storage_policies_get_info_entity_type_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/storage_policies/get_info/{entity_type}/{uuid}'.sub('{' + 'entity_type' + '}', CGI.escape(entity_type.to_s)).sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_get_info_entity_type_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_get_info_entity_type_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of existing storage_policies
    # This operation gets a list of storage_policies, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [StoragePolicyListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicyListIntentResponse]
    def storage_policies_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = storage_policies_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Get a list of existing storage_policies
    # This operation gets a list of storage_policies, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [StoragePolicyListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicyListIntentResponse, Integer, Hash)>] StoragePolicyListIntentResponse data, response status code and response headers
    def storage_policies_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling StoragePoliciesApi.storage_policies_list_post"
      end
      # resource path
      local_var_path = '/storage_policies/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicyListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new storage_policy
    # This operation submits a request to create a new storage_policy based on the input parameters. 
    # @param body [StoragePolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicyIntentResponse]
    def storage_policies_post(body, opts = {})
      data, _status_code, _headers = storage_policies_post_with_http_info(body, opts)
      data
    end

    # Create a new storage_policy
    # This operation submits a request to create a new storage_policy based on the input parameters. 
    # @param body [StoragePolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicyIntentResponse, Integer, Hash)>] StoragePolicyIntentResponse data, response status code and response headers
    def storage_policies_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StoragePoliciesApi.storage_policies_post"
      end
      # resource path
      local_var_path = '/storage_policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a existing storage_policy
    # This operation submits a request to delete a existing storage_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicyIntentResponse]
    def storage_policies_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = storage_policies_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete a existing storage_policy
    # This operation submits a request to delete a existing storage_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicyIntentResponse, Integer, Hash)>] StoragePolicyIntentResponse data, response status code and response headers
    def storage_policies_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/storage_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a existing storage_policy
    # This operation gets a existing storage_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicyIntentResponse]
    def storage_policies_uuid_get(uuid, opts = {})
      data, _status_code, _headers = storage_policies_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get a existing storage_policy
    # This operation gets a existing storage_policy.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicyIntentResponse, Integer, Hash)>] StoragePolicyIntentResponse data, response status code and response headers
    def storage_policies_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/storage_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compliance count per storage policy
    # Get compliance count
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicyComplianceCount]
    def storage_policies_uuid_get_compliance_count_get(uuid, opts = {})
      data, _status_code, _headers = storage_policies_uuid_get_compliance_count_get_with_http_info(uuid, opts)
      data
    end

    # Get compliance count per storage policy
    # Get compliance count
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicyComplianceCount, Integer, Hash)>] StoragePolicyComplianceCount data, response status code and response headers
    def storage_policies_uuid_get_compliance_count_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_uuid_get_compliance_count_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_get_compliance_count_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_get_compliance_count_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/storage_policies/{uuid}/get_compliance_count'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicyComplianceCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_uuid_get_compliance_count_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_uuid_get_compliance_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a existing storage_policy
    # This operation submits a request to update a existing storage_policy based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [StoragePolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicyIntentResponse]
    def storage_policies_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = storage_policies_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Update a existing storage_policy
    # This operation submits a request to update a existing storage_policy based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [StoragePolicyIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicyIntentResponse, Integer, Hash)>] StoragePolicyIntentResponse data, response status code and response headers
    def storage_policies_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.storage_policies_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling StoragePoliciesApi.storage_policies_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StoragePoliciesApi.storage_policies_uuid_put"
      end
      # resource path
      local_var_path = '/storage_policies/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicyIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.storage_policies_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#storage_policies_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
