=begin
#Nutanix Intentful API

#Move programming from the user to the machine.

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Nutanix
  class VmRecoveryPointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clone a vm recovery point for the given time point.
    # Submits a request to create a task handling the clone of a vm recovery point given a timestamp, returns the task reference. This operation is used to replicate a backend selected vm recovery point that is around the desired time point to a target AZ. 
    # @param body [VmRecoveryPointsRealizeCloneInput] 
    # @param [Hash] opts the optional parameters
    # @return [ProceduralResponse]
    def vm_recovery_points_clone_post(body, opts = {})
      data, _status_code, _headers = vm_recovery_points_clone_post_with_http_info(body, opts)
      data
    end

    # Clone a vm recovery point for the given time point.
    # Submits a request to create a task handling the clone of a vm recovery point given a timestamp, returns the task reference. This operation is used to replicate a backend selected vm recovery point that is around the desired time point to a target AZ. 
    # @param body [VmRecoveryPointsRealizeCloneInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProceduralResponse, Integer, Hash)>] ProceduralResponse data, response status code and response headers
    def vm_recovery_points_clone_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_clone_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VmRecoveryPointsApi.vm_recovery_points_clone_post"
      end
      # resource path
      local_var_path = '/vm_recovery_points/clone'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProceduralResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_clone_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_clone_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of existing vm recovery point
    # This operation gets a list of vm recovery point, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [VmRecoveryPointListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [VmRecoveryPointListIntentResponse]
    def vm_recovery_points_list_post(get_entities_request, opts = {})
      data, _status_code, _headers = vm_recovery_points_list_post_with_http_info(get_entities_request, opts)
      data
    end

    # Get a list of existing vm recovery point
    # This operation gets a list of vm recovery point, allowing for sorting and pagination. Note: Entities that have not been created successfully are not listed. 
    # @param get_entities_request [VmRecoveryPointListMetadata] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VmRecoveryPointListIntentResponse, Integer, Hash)>] VmRecoveryPointListIntentResponse data, response status code and response headers
    def vm_recovery_points_list_post_with_http_info(get_entities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_list_post ...'
      end
      # verify the required parameter 'get_entities_request' is set
      if @api_client.config.client_side_validation && get_entities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_entities_request' when calling VmRecoveryPointsApi.vm_recovery_points_list_post"
      end
      # resource path
      local_var_path = '/vm_recovery_points/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_entities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VmRecoveryPointListIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new vm recovery point
    # This operation submits a request to create a new vm recovery point based on the input parameters. 
    # @param body [VmRecoveryPointIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [VmRecoveryPointIntentResponse]
    def vm_recovery_points_post(body, opts = {})
      data, _status_code, _headers = vm_recovery_points_post_with_http_info(body, opts)
      data
    end

    # Create a new vm recovery point
    # This operation submits a request to create a new vm recovery point based on the input parameters. 
    # @param body [VmRecoveryPointIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VmRecoveryPointIntentResponse, Integer, Hash)>] VmRecoveryPointIntentResponse data, response status code and response headers
    def vm_recovery_points_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VmRecoveryPointsApi.vm_recovery_points_post"
      end
      # resource path
      local_var_path = '/vm_recovery_points'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VmRecoveryPointIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore a vm recovery point for the given time point.
    # Submits a request to create a task handling the restore of a vm recovery point given a timestamp to recover to, returns the task reference. This operation is used to create a vm out of a backend selected vm recovery point that is around the desired time point. Follow the task to get the reference of the created vm. 
    # @param body [VmRecoveryPointRealizeRestoreInput] 
    # @param [Hash] opts the optional parameters
    # @return [ProceduralResponse]
    def vm_recovery_points_restore_post(body, opts = {})
      data, _status_code, _headers = vm_recovery_points_restore_post_with_http_info(body, opts)
      data
    end

    # Restore a vm recovery point for the given time point.
    # Submits a request to create a task handling the restore of a vm recovery point given a timestamp to recover to, returns the task reference. This operation is used to create a vm out of a backend selected vm recovery point that is around the desired time point. Follow the task to get the reference of the created vm. 
    # @param body [VmRecoveryPointRealizeRestoreInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProceduralResponse, Integer, Hash)>] ProceduralResponse data, response status code and response headers
    def vm_recovery_points_restore_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_restore_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VmRecoveryPointsApi.vm_recovery_points_restore_post"
      end
      # resource path
      local_var_path = '/vm_recovery_points/restore'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProceduralResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_restore_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_restore_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clone a vm_recovery_point.
    # Submits a request to create a task handling vm_recovery_point clone operation, returns a task reference. This replicates the vm_recovery_point to target availability zone. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @option opts [VmRecoveryPointsCloneInput] :body 
    # @return [ProceduralResponse]
    def vm_recovery_points_uuid_clone_post(uuid, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_clone_post_with_http_info(uuid, opts)
      data
    end

    # Clone a vm_recovery_point.
    # Submits a request to create a task handling vm_recovery_point clone operation, returns a task reference. This replicates the vm_recovery_point to target availability zone. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @option opts [VmRecoveryPointsCloneInput] :body 
    # @return [Array<(ProceduralResponse, Integer, Hash)>] ProceduralResponse data, response status code and response headers
    def vm_recovery_points_uuid_clone_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_clone_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_clone_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_clone_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vm_recovery_points/{uuid}/clone'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProceduralResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_clone_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_clone_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a existing vm recovery point
    # This operation submits a request to delete a existing vm recovery point.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [VmRecoveryPointIntentResponse]
    def vm_recovery_points_uuid_delete(uuid, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_delete_with_http_info(uuid, opts)
      data
    end

    # Delete a existing vm recovery point
    # This operation submits a request to delete a existing vm recovery point.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VmRecoveryPointIntentResponse, Integer, Hash)>] VmRecoveryPointIntentResponse data, response status code and response headers
    def vm_recovery_points_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_delete"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vm_recovery_points/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VmRecoveryPointIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a existing vm recovery point
    # This operation gets a existing vm recovery point.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [VmRecoveryPointIntentResponse]
    def vm_recovery_points_uuid_get(uuid, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get a existing vm recovery point
    # This operation gets a existing vm recovery point.
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VmRecoveryPointIntentResponse, Integer, Hash)>] VmRecoveryPointIntentResponse data, response status code and response headers
    def vm_recovery_points_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_get"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vm_recovery_points/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VmRecoveryPointIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Promote a vm recovery point.
    # Submits a request to create a task handling the promote of Live vm recovery point, returns the task reference. This operation is used to create a vm out of the Live vm recovery point. Follow the task to get the reference of the created vm. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @option opts [VmRecoveryPointRestoreInput] :body 
    # @return [ProceduralResponse]
    def vm_recovery_points_uuid_promote_post(uuid, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_promote_post_with_http_info(uuid, opts)
      data
    end

    # Promote a vm recovery point.
    # Submits a request to create a task handling the promote of Live vm recovery point, returns the task reference. This operation is used to create a vm out of the Live vm recovery point. Follow the task to get the reference of the created vm. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @option opts [VmRecoveryPointRestoreInput] :body 
    # @return [Array<(ProceduralResponse, Integer, Hash)>] ProceduralResponse data, response status code and response headers
    def vm_recovery_points_uuid_promote_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_promote_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_promote_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_promote_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vm_recovery_points/{uuid}/promote'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProceduralResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_promote_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_promote_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a existing vm recovery point
    # This operation submits a request to update a existing vm recovery point based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [VmRecoveryPointIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [VmRecoveryPointIntentResponse]
    def vm_recovery_points_uuid_put(uuid, body, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_put_with_http_info(uuid, body, opts)
      data
    end

    # Update a existing vm recovery point
    # This operation submits a request to update a existing vm recovery point based on the input parameters. 
    # @param uuid [String] The UUID of the entity.
    # @param body [VmRecoveryPointIntentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VmRecoveryPointIntentResponse, Integer, Hash)>] VmRecoveryPointIntentResponse data, response status code and response headers
    def vm_recovery_points_uuid_put_with_http_info(uuid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_put ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_put"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_put"
      end
      # resource path
      local_var_path = '/vm_recovery_points/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VmRecoveryPointIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore a vm recovery point.
    # Submits a request to create a task handling the restore of vm recovery point, returns the task reference. This operation is used to create a vm out of the vm recovery point. Follow the task to get the reference of the created vm. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @option opts [VmRecoveryPointRestoreInput] :body 
    # @return [ProceduralResponse]
    def vm_recovery_points_uuid_restore_post(uuid, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_restore_post_with_http_info(uuid, opts)
      data
    end

    # Restore a vm recovery point.
    # Submits a request to create a task handling the restore of vm recovery point, returns the task reference. This operation is used to create a vm out of the vm recovery point. Follow the task to get the reference of the created vm. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @option opts [VmRecoveryPointRestoreInput] :body 
    # @return [Array<(ProceduralResponse, Integer, Hash)>] ProceduralResponse data, response status code and response headers
    def vm_recovery_points_uuid_restore_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_restore_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_restore_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_restore_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vm_recovery_points/{uuid}/restore'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProceduralResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_restore_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_restore_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validates the feasibility of vm restoration from the vm recovery point. 
    # Validates the feasibility of vm restoration from the vm recovery point, if not feasible return the reason behind it. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<VmValidateRestoreOutputInner>]
    def vm_recovery_points_uuid_validate_restore_post(uuid, opts = {})
      data, _status_code, _headers = vm_recovery_points_uuid_validate_restore_post_with_http_info(uuid, opts)
      data
    end

    # Validates the feasibility of vm restoration from the vm recovery point. 
    # Validates the feasibility of vm restoration from the vm recovery point, if not feasible return the reason behind it. 
    # @param uuid [String] The UUID of the entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VmValidateRestoreOutputInner>, Integer, Hash)>] Array<VmValidateRestoreOutputInner> data, response status code and response headers
    def vm_recovery_points_uuid_validate_restore_post_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmRecoveryPointsApi.vm_recovery_points_uuid_validate_restore_post ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_validate_restore_post"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && uuid !~ pattern
        fail ArgumentError, "invalid value for 'uuid' when calling VmRecoveryPointsApi.vm_recovery_points_uuid_validate_restore_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/vm_recovery_points/{uuid}/validate_restore'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VmValidateRestoreOutputInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VmRecoveryPointsApi.vm_recovery_points_uuid_validate_restore_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmRecoveryPointsApi#vm_recovery_points_uuid_validate_restore_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
